main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    button {
      border: none;
      outline: none;
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-size: 1rem;

      input::placeholder {
        font-size: 1.2rem; /* placeholder size */
        color: #888; /* optional */
      }
    }
    button {
      background-color: #4aa39d;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      cursor: pointer;
    }
    button:active {
      scale: 0.95;
    }
  }
  .toggleAuthForm {
    color: #e37979;
    text-decoration: none;
    font-weight: 700;
  }
}
